<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ProductsAccessDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;           Data Source=C:\Space\Database\MillerCoors.mdb; Persist Security Info=False;" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="TestQuery" value="SELECT         [ID]       ,[UPC]       ,[Name]       ,[Alternative Name]       ,[SINGLE_MULTI]       ,[MANUFACTURER]       ,[BRANDFAMILY]       ,[BRAND]       ,[PACKAGE]       ,[HEIGHT]       ,[WIDTH]       ,[DEPTH]       ,[varContainer]       ,[varSize]       ,[varMeasure]       ,[STATUS]       ,[CATEGORY]       ,[SUBCATEGORY]       ,[CONTAINER]       ,[CONTAINER_MATERIAL]       ,[Country]       ,[STATE]       ,[SHAPE_ID]       ,[FILL_COLOR]       ,[INNER_PACK]       ,[PACKAGE_STYLE]       ,[MAX_HIGH]       ,[DIGIT12UPC]       ,[DIGIT10UPC]       ,[DIGIT11CHECK]       ,[DIGIT11UPC]       ,[DIGIT11RET]       ,[GTIN13DIGIT]       ,[GTIN14DIGIT]       ,[MC RPL UPC]       ,[BAR_CODE]       ,[SOURCE]       ,[SUPP_UPC]       ,[CASE_PACK]       FROM [MillerCoors Beer Database]                                  ;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>